<section class="container-fluid m-0 p-0">
  <app-navbar></app-navbar>
</section>
<section
  class="container-fluid"
  style="position: absolute; height: calc(100% - 56px)"
>
  <div class="row" style="height: 100%">
    <div class="menu col-2 p-0" style="width: 250px">
      <app-menu-left></app-menu-left>
    </div>
    <div
      class="box-container col-10 p-4"
      style="
        width: calc(100% - 250px);
        overflow: auto;
        overflow-y: scroll;
        height: 100%;
      "
    >
      <app-proyects *ngIf="loadProyects"></app-proyects>
    </div>
  </div>
</section>
