<section class="menu-left container-fluid p-0 m-0  bg-dark" style="height: 100%;">
  <div class=" m-0 menu-left">
    <div class="  m-0 p-0">
      <div class="container-fluid m-0 p-0 mt-0 list-menu">
        <ul class="pt-3 poppins-light">
          <li><i class="bi bi-speedometer2 me-4"></i>Dashborad</li>
          <li (click)="loadProjectComponent()" ><i class="bi bi-person-workspace me-4"></i>Projects</li>
          <li><i class="bi bi-person-vcard me-4"></i>Contact</li>
          <li><i class="bi bi-calendar-date me-4"></i>Calendar</li>
          <li><i class="bi bi-gear me-4"></i>Settings</li>
        </ul>
      </div>
    </div>   
  </div>
</section>