.menu-left {

  position: absolute;
  height: 100%;
  width: 1350px;
  height: calc(100% - 56px);
}

.list-menu ul {
  padding: 0;
}

.list-menu li { 
  padding: 0.8em;
  padding-left: 1.5em;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  transition: 0.3 ease-in;
  color: rgb(212, 212, 212);
}

.list-menu li:hover {
 background-color: rgba(61, 60, 79, 0.977);
}

i{
  font-size: 18px;
}

.menu-dropdown{
  display: none;
}

.list-menu li:hover .menu-dropdown{
  display: block;
}