<section class="menu-left container-fluid p-0 m-0 " style="height: 100%;">
  <div class=" m-0 menu-left">
    <div class="  m-0 p-0">
      <div class="container-fluid m-0 p-0 mt-0 list-menu">
        <div class="contatiner mt-2 p-2"  >
          <i class="i i-box" style="width: 35px; height: 35px; vertical-align: middle;"></i>
          <a class="plus-jakarta-sans-bold fs-5 m-0" style="text-decoration: none; color: black;" href="#">
           ProyectM</a>          
        </div>     
      
        <ul class="pt-3 plus-jakarta-sans-medium">
          <li><i class="i i-dash me-2"></i>Dashborad</li>
          <li (click)="loadProjectComponent()" ><i class="i i-project me-2"></i>Projects</li>
          <li><i class="i i-contact me-2"></i>Contact</li>
          <li><i class="i i-calendar me-2"></i>Calendar</li>
          <li><i class="i  i-settings me-2"></i>Settings</li>
        </ul>
      </div>
      <br>
      <div>
        <i class="bi bi-box-arrow-right" (click)="logout()" 
        style="font-size: 20px; 
        color: rgb(61, 61, 61);
        cursor: pointer;">
        </i>
      </div>
    </div>   
  </div>
</section>