<section style="height: 100vh;">
    <div class="row bg-white h-100" style="border-top: 1px solid #e0e0e0; border-radius: 10px;">
        <div class="col-12 overflow-auto" style="height: 75%;">
            <div class="example-container" *ngFor="let sp of sprints">
                <br>
                <div class="accordion shadow-sm" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapseOne'+ sp.number" aria-expanded="true"
                                aria-controls="collapseOne" style="box-shadow: none; background-color: #FFF">
                                <h6>Sprint {{sp.number}} </h6>
                            </button>
                        </h2>
                        <div id="collapseOne{{sp.number}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ">
                                <table class="table">
                                    @for (item of done; track item) {
                                    <tbody>
                                        <tr>                                            
                                            <td>Name</td>
                                            <td>Done</td>
                                            <td>Carlos</td>
                                        </tr>
                                    </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>