<section class="container-fluid ">
    <div class="container">
        <h3>{{proyect?.name}}</h3>
    </div>
    <br>
    <div class="container">
        <div class="row g-0">
            <div class="col-sm-6 col-md-8">
                <h3 style="font-weight: 500;" class="float-start me-4">Sprint Planing</h3>
                <button data-bs-toggle="modal" (click)="showSprintForm()" data-bs-target="#sprintModal"
                    class="btn btn-primary float-start p-2 poppins-light ">Create Sprint</button>
            </div>
            <div class="col-6 col-md-4">
            </div>
        </div>
    </div>
    <br>
    <br>

</section>
<div class="container-fluid" style="height: 78%; overflow: scroll;">
    <div class="row">
        <div class="col-3" style="height: 100%;">
            <h6>Backlog</h6>

           
                @for (item of todo; track item) {
                <div class="card text-bg-light mb-3 example-box" style="max-width: 18rem;">
                    <div class="card-header">{{item}}1</div>
                    <div class="card-body">
                        <h6 class="card-title">Crear el login.</h6>
                        <p class="card-text">
                            <span class="badge text-bg-secondary">Not Started</span>
                        </p>
                    </div>
                </div>
                }
           
        </div>
        <div class="col-9">
            <div class="example-container" *ngFor="let sp of sprints">
                <br>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapseOne'+ sp.number" aria-expanded="false" aria-controls="collapseOne">
                                <h6>Sprint {{sp.number}} </h6>
                            </button>
                        </h2>
                        <div id="collapseOne{{sp.number}}" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">                             
                                    @for (item of done; track item) {
                                    <div class="card text-bg-light mb-3 example-box" id="draggable{{sp.number}}">
                                        <div class="card-header">{{item}}1</div>
                                        <div class="card-body">
                                            <h6 class="card-title">Crear el login.</h6>
                                            <p class="card-text">
                                                <span class="badge text-bg-secondary">Not Started</span>
                                            </p>
                                        </div>
                                    </div>
                                    }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--MODAL SPRINT-->
<div class="modal fade" id="sprintModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Sprint</h1>
                <button type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-create-sprint *ngIf="sprintInfo"></app-create-sprint>
            </div>

        </div>
    </div>
</div>