<section class="container-fluid ">
    <div class="container">
        <h3>Title Project</h3>
    </div>
    <br>
    <div class="container">
        <div class="row g-0">
            <div class="col-sm-6 col-md-8">
                <h3 style="font-weight: 500;" class="float-start me-4">Sprint Planing</h3>
                <button class="btn btn-primary float-start">Create Sprint</button>
            </div>
            <div class="col-6 col-md-4">
            </div>
        </div>
    </div>
    <br>
    <br>

</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h6>Backlog</h6>
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Task 1</div>
                <div class="card-body">
                    <h6 class="card-title">Crear el login.</h6>
                    <p class="card-text">
                        <span class="badge text-bg-secondary">Not Started</span>
                       </p>
                </div>
            </div>
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Task 2</div>
                <div class="card-body">
                    <h6 class="card-title">Programar funciones</h6>
                    <p class="card-text">
                        <span class="badge  text-bg-secondary">Not Started</span>
                       </p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h6>Sprint 1</h6>
        </div>

    </div>


</div>