<section class="container-fluid">
    <div class="container">
        <h4 class="float-start">Backlog</h4>
        <button type="submit" class="btn btn-primary float-end" data-bs-target="#taskModal" data-bs-toggle="modal" >+ Create Task</button>
        <br>
        <br>
        <br>
    </div>
    <div class="container  p-4 fs-6 text" style="background-color: white;">
        <table class="table">
            <thead>
                <tr style="border-color: white; margin-bottom: .5rem;">
                    <th scope="col">Priority</th>
                    <th scope="col">Task</th>
                    <th scope="col">Members</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody style="font-size: .9rem;">
                <tr>
                    <th scope="row"> <span class="badge text-bg-danger p-2 poppins-light">High</span></th>
                    <td>
                        <p class="text-black-50 m-0"><i class="bi bi-journal-check"></i>
                            Create Login and Register</p>
                    </td>
                    <td>
                        <div class="circle"><span class="initials">AB</span></div>
                    </td>
                    <td>
                        <p class="text-warning poppins-medium m-0 "> In Progress</p>
                    </td>
                    <td>28-06-2024</td>
                </tr>

                <tr>
                    <th scope="row"> <span class="badge text-bg-danger p-2 poppins-light">High</span></th>
                    <td>
                        <p class="text-black-50 m-0"><i class="bi bi-journal-check"></i>
                            Create Login and Register</p>
                    </td>
                    <td>
                        <div class="circle"><span class="initials">AB</span></div>
                    </td>
                    <td>
                        <p class="text-warning poppins-medium m-0 "> In Progress</p>
                    </td>
                    <td>28-06-2024</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Add Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-task></app-add-task>
        </div>
  
      </div>
    </div>
  </div>