hr{
   color: rgb(166, 166, 166);
}

th , td{
   padding: .9rem;
}

.circle {
   width: 25px;
   height: 25px;
   background-color: #4c89af;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.initials {
   font-size: .9rem;
   color: white;   
}


.status{ 
   color: #fff;
   padding: .2rem;
   border-radius: 8px;
   padding-left: .6rem;
   padding-right: .6rem;
  
}

.done{
   color: #218726;
   background-color: #b6eeb9;
   border-color: #b6eeb9;   
}

.in-progress{
   color: #2f5ba7;
   background-color: #b2c2dd;
   border-color: #b4c4e1;
}

.no-started{
   color: #3c3c3c;
   background-color: #dbdbdb;
   border-color: #dbdbdb;
}