<section class="container-fluid">
    <div class="container">
        <h5>Add Task</h5>
        <div class="row">
            <div class="col-5">
                <label for="taskName" class="form-label">Task Name</label>
            </div>
            <div class="col-5">
                <label for="taskDescription" class="form-label">Description</label>
            </div>
            <div class="col-2">

            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <input type="text" class="form-control" name="taskName" id="taskName">
            </div>
            <div class="col-5">
                <input type="text" class="form-control" name="taskDescription" id="taskDescription">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h5>Backlog</h5>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Decription</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Login Create</td>
                        <td>Creation of a login with all componentes and a form register for new users</td>
                        <td>mdo</td>
                        <td>12/01/2024 </td>
                        <td><span class="badge text-bg-secondary">Not Started</span></td>
                        <th><select class="form-select"><option>Mark</option></select></th>
                    </tr>
                
                </tbody>
            </table>
        </div>
    </div>

</section>