<section class="container-fluid p-4">
    <div>
        <form  [formGroup]="formProject" (ngSubmit)="sendForm()"> 
            <div class="row">
                <div class="col-12">
                    <label for="projectName" class="form-label">Project Name</label>
                    <input type="text" [ngClass]="{'is-invalid': hasErrors('name','required')}" 
                    class="form-control" id="projectName" aria-describedby="ProjectName"  
                    formControlName="name">
                </div>
           
            </div>
            <br> 
            <div class="row">
                <div class="col-6">
                    <label for="projectStart" class="form-label">Date Start</label>
                    <input type="date" [ngClass]="{'is-invalid': hasErrors('dateStart','required')}" 
                    class="form-control" id="projectStart" aria-describedby="ProjectStart" 
                    formControlName="dateStart">
                    <br>
                    <span class="badge text-bg-danger p-2 poppins-light"
                    *ngIf="dateStartValidator()">
                    Fecha de Inicio debe ser Mayor que la Fecha Actual
                </span>
                  
                </div>
               
                <div class="col-6">
                    <label for="projectEnd" class="form-label">Date End</label>
                    <input type="date" [ngClass]="{'is-invalid': hasErrors('dateEnd','required')}" 
                    class="form-control" id="projectEnd" aria-describedby="ProjectEnd"  
                    formControlName="dateEnd">
                    <br>
                    <span class="badge text-bg-danger p-2 poppins-light"
                    *ngIf="dateEndValidator()">
                    Fecha de Final debe ser Mayor que la Fecha de Inicio
                </span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary float-end">Create</button>
                </div>
            </div>
             
        </form>
    </div>
</section>