* {
  font-family: "Plus Jakarta Sans";
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.btn-basic {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  font-stretch: extra-condensed;
  transition: 0.2s ease-in-out;
}

.btn-basic:hover {
  background-color: #eaeaea;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.plus-jakarta-sans-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.plus-jakarta-sans-semi-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* ICONS */

i {
  fill: #fff;
}

.i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: bottom;
  margin-right: 0.25rem;
}

.i-add {
  background-image: url("assets/icons/add.svg");
}

.i-dash {
  background-image: url("assets/icons/dash.svg");
}

.i-contact {
  background-image: url("assets/icons/contact.svg");
}

.i-project {
  background-image: url("assets/icons/project.svg");
}

.i-calendar {
  background-image: url("assets/icons/calendar.svg");
}

.i-settings {
  background-image: url("assets/icons/settings.svg");
}
.i-box {
  background-image: url("assets/icons/box.svg");
}

.i-code {
  background-image: url("assets/icons/code.svg");
}

.i-arrow-r{
  background-image: url("assets/icons/arrow-r.svg");
}

.i-backlog{
  background-image: url("assets/icons/backlog-gray.svg");
}

:root {
  --icon-color: rgb(225, 55, 228); /* Cambia el color aquí */
}

.i-sprint{ 
  background-image: url("assets/icons/sprint.svg");
}


.i-resume{
  background-image: url("assets/icons/resume.svg");
  width: 20px;
  height: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
